{% extends "BlogHome/home.html" %}

{% load static %}

{% block contenidoQueCambia %}

<div class="container">
    <div class="row">
      <div class="col-lg-18">
        <h1 class="mt-4 text-center">About me</h1>
          <hr>
            <p>Me llamo Gianluca Consolini, tengo 27 años, soy un apasionado por aprender y por la informatica (sobre todo telecomunicaciones). Me recibi en el 2016, de Tecnico Univ. en Redes de Datos y Telecomunicaciones, y actualmente desarrollo mis actividades en la U.N.Cuyo.</p>
            <p>Trato de estar siempre lo mejor capacitado posible, siempre aprendiendo y teniendo nuevos retos. En los 5 años que llevo trabajando en la U.N.Cuyo he aprendido mucho sobre como trabajar correctamente, en el respesto con mis compañeros y los beneficios que eso trae.</p>
            <p>En este momento estoy cursando 3 cursos para poder capacitarme:</p>
            <li>Python de CoderHouse</li>
            <li>CCNA1 de Cisco</li>
            <li>IPv6 Avanzadas de LACNIC</li>
            <p> </p>
            <p> Elegi hacer un blog sobre Mikrotik, ya que es un equipamiento que suelo usar y configurar a diario (sobre todo router's). Al tener gran contenido puedo crear un blog con imagenes y de distintos temas.</p>
            <p> </p>
          </hr>
      </div>
    </div>
</div>

{% endblock %}